<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="5"/>
    <title>Choregraphie status with consul-templaterb</title>
  </head>
  <body>
    <h1>Show all choregraphie information</h1>
    <div>This page only show choregraphie when at least one holder exists.</div>
<% require 'base64'
   require 'json'
   require 'date'
   @current_time = Time.now.utc
%>
<%
  def display_holder(holder, value)
    begin
      holder_date = Time.parse(value)
      color = 'green'
      diff = (@current_time - holder_date).round(0) 
      color = 'orange' if diff > 3600
      color = 'red' if diff > 7200
      diff_txt = "#{diff % 3600} seconds"
      diff_txt = "#{(diff % 86400) / 3600} hours, #{diff_txt}" if diff > 3600
      diff_txt = "#{diff / 86400} days, #{diff_txt}" if diff > 86400
    rescue StandardError => e
      color = 'purple'
      holder_date = "Cannot parse date: #{e}"
      diff_txt = "Error Parsing date #{value}"
    end
   "<li style=\"color:#{color}\">#{holder}: #{holder_date} : #{diff_txt} ago"
  end
%>

<% kv('choregraphie', recurse:true).each do |tuple|
%>
      <!-- <%= tuple['Key'] %> -->
      <%
        if tuple['Value'].nil?
          json = []
          holders = []
      %><strong>Invalid Choregraphie data: <%= tuple %></strong><%
        else
          json = JSON.parse(Base64.decode64(tuple['Value']))
          holders = json['holders']
        end
      %>
    <% if holders.count > 0 %>
    <div>
      <h2 id="<%= tuple['Key'] %>"><%= tuple['Key'] %>: <%= holders.count%>/<%= json['concurrency'] %></h2>
      <pre><%= JSON.pretty_generate(json) %></pre>
      <ul>
      <%
      holders.each_pair do |key, value|
        if value.is_a?(Hash)
      %>
          <li><u><%= key %>:</u><ul>
<%
           # Other way of handling holders
           value.each_pair do |k,v|
             %><%= display_holder(k, v) %><%
           end
%>
          </ul>
          </li>
      <%
        else
      %><%= display_holder(key, value) %><%
        end
      end %>
      </ul>
    </div>
    <% end %>
<% end %>
  </body>
</html>
