<%= render_file 'common/header.html.erb' %>
<h1 id="nodes">List all nodes for DC, sorted by name</h1>
<ul>
<% nodes.sort {|a,b| a['Node'] <=> b['Node'] }.each do |snode|
%> <li id="node_#{snode['ID']"><a href="ssh://<%= snode['Address']%>"><%= snode['Address'].ljust(16) %></a> <%= snode['Node'] %><%
  snode['Meta'].each do |k,v|
    if v && !v.empty?
%>
   <span class="badge badge-pill badge-primary float-right"><%= k %>:&nbsp;<%= v%></span>
<%
    end
  end
%>
</li>
<% end %>
</ul>
<%= render_file 'common/footer.html.erb' %>