<%= render_file('common/header.html.erb', title: 'Nodes') %><%
service_per_node = {}
services.each do |service_name, tags|
  service(service_name, tag:'http').sort {|a,b| a['Node']['Node'] <=> b['Node']['Node'] }.each do |snode|
  node_services = service_per_node[snode['Node']['Node']] || []
  node_services.push("#{service_name}: #{snode['Service']['Port']}") #service_name + snode['Service']['Port'])
  service_per_node[snode['Node']['Node']] = node_services
  end
end %>

<h1 id="nodes">List all nodes for DC, sorted by name</h1>
<ul class="list-group">
<% nodes.sort {|a,b| a['Node'] <=> b['Node'] }.each do |snode|
%><li id="node_<%= snode['ID'] %>" class="list-group-item">
    <a href="ssh://<%= snode['Address']%>"><%= snode['Address'] %></a> <%= snode['Node'] %><%
  snode['Meta'].each do |k,v|
    if v && !v.empty?
%><span class="badge badge-pill badge-primary float-right"><%= k %>:&nbsp;<%= v%></span><%
    end
  end if snode['Meta']
  %><div><%
  if service_per_node.key?(snode['Node'])
    service_per_node[snode['Node']].each do |service_name|
    %> <a class="badge badge-secondary" href='services.html#service_<%= service_name %>'><%= service_name %></a>
  <% end
  end
%></div></li>
<% end %>
</ul>
<%= render_file 'common/footer.html.erb' %>
